In [59]:
#(1) Create a variable that contains the weighted average of the grades in the dataset. The number of students in the fourth grade is different from that of the eighth grade. So you will need a weighted average!4
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
from scipy.stats.mstats import winsorize
warnings.filterwarnings('ignore')
import seaborn as sns

states = pd.read_csv("states_all.csv")

In [60]:
states=states.fillna(states.mean())

In [61]:
#(2) What is the correlation between the variable you just created and the types of expenditures? Which expenditure item has more correlation than others?
weight0 = 0

for i in states.columns[-4:]:
    print(f"{i} değişkenindeki not-null değer sayısı:", states[i].notnull().sum())
    weight0 += states[i].notnull().sum()
print("\nToplam değer sayısı:", weight0)

AVG_MATH_4_SCORE değişkenindeki not-null değer sayısı: 1715
AVG_MATH_8_SCORE değişkenindeki not-null değer sayısı: 1715
AVG_READING_4_SCORE değişkenindeki not-null değer sayısı: 1715
AVG_READING_8_SCORE değişkenindeki not-null değer sayısı: 1715

Toplam değer sayısı: 6860

In [67]:
weight1 = states["AVG_MATH_4_SCORE"].notnull().sum() / weight0
weight2 = states["AVG_MATH_8_SCORE"].notnull().sum() / weight0
weight3 = states["AVG_READING_4_SCORE"].notnull().sum() / weight0
weight4 = states["AVG_READING_8_SCORE"].notnull().sum() / weight0

states["WEIGHTED_SCORE"] = ((weight1 * states["AVG_MATH_4_SCORE"]) + 
                               (weight2 * states["AVG_MATH_8_SCORE"]) + 
                               (weight3 * states["AVG_READING_4_SCORE"]) + 
                               (weight4 * states["AVG_READING_8_SCORE"]))

In [68]:
states.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE,WEIGHTED_SCORE
0,1992_ALABAMA,ALABAMA,1992,917541.566176,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,58025.0,41167.0,577954.717647,282069.084967,731634.0,208.000000,252.000000,207.000000,263.558719,232.639680
1,1992_ALASKA,ALASKA,1992,917541.566176,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,8789.0,6714.0,577954.717647,282069.084967,122487.0,236.327434,278.280731,218.806154,263.558719,249.243259
2,1992_ARIZONA,ARIZONA,1992,917541.566176,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,49081.0,37410.0,577954.717647,282069.084967,673477.0,215.000000,265.000000,209.000000,263.558719,238.139680
3,1992_ARKANSAS,ARKANSAS,1992,917541.566176,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,36011.0,27651.0,577954.717647,282069.084967,441490.0,210.000000,256.000000,211.000000,263.558719,235.139680
4,1992_CALIFORNIA,CALIFORNIA,1992,917541.566176,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,363296.0,270675.0,577954.717647,282069.084967,5254844.0,208.000000,261.000000,202.000000,263.558719,233.639680

In [69]:
states2=states
states2=states2.drop(['PRIMARY_KEY','STATE','ENROLL'], axis = 1)

Matematik notlarında INSTRUCTION_EXPENDITURE ile güçlü bir korelasyon varken, okuma notlarında OTHER_EXPENDITURE  ile güçlü bir korelasyon var

In [78]:
#(3) Now apply the Principal Components Analysis (PCA) for the four expenditure items! How much of the total variance can be explained by the first component?
weighted_corr=states2.corr().loc['TOTAL_EXPENDITURE':'CAPITAL_OUTLAY_EXPENDITURE', "WEIGHTED_SCORE"]
pd.DataFrame(weighted_corr)

                              WEIGHTED_SCORE
TOTAL_EXPENDITURE                   0.049909
INSTRUCTION_EXPENDITURE             0.057425
SUPPORT_SERVICES_EXPENDITURE        0.054266
OTHER_EXPENDITURE                  -0.006846
CAPITAL_OUTLAY_EXPENDITURE         -0.000900

In [86]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

states_df = pd.concat([states2.iloc[:,5:10], states2.iloc[:, -1]], axis=1)

states_df.head()
states_df.corr()

,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,WEIGHTED_SCORE
TOTAL_EXPENDITURE,1.000000,0.991334,0.993309,0.939415,0.932388,0.049909
INSTRUCTION_EXPENDITURE,0.991334,1.000000,0.976857,0.902866,0.896001,0.057425
SUPPORT_SERVICES_EXPENDITURE,0.993309,0.976857,1.000000,0.945719,0.917710,0.054266
OTHER_EXPENDITURE,0.939415,0.902866,0.945719,1.000000,0.916828,-0.006846
CAPITAL_OUTLAY_EXPENDITURE,0.932388,0.896001,0.917710,0.916828,1.000000,-0.000900
WEIGHTED_SCORE,0.049909,0.057425,0.054266,-0.006846,-0.000900,1.000000

96.89 u ilk bileşen ile açıklanmaktadır.

In [93]:
X=StandardScaler().fit_transform(states_df)
pca=PCA(n_components=len(states_df.columns))
principalComponents=pca.fit_transform(X)

exp_var=pca.explained_variance_ratio_*100
cumsum_var=np.cumsum(np.round(pca.explained_variance_ratio_,decimals=4)*100)
print(exp_var)
print("--"*31)
print(cumsum_var)

[7.94569880e+01 1.67199565e+01 2.16321707e+00 1.40229320e+00
 2.48502354e-01 9.04285837e-03]
--------------------------------------------------------------
[ 79.46  96.18  98.34  99.74  99.99 100.  ]

In [ ]:
#(4) What is the correlation between the GPA you created and the first principal component?

## (5) When you need to choose the most appropriate variables for your model, would you prefer the first basic variables instead of the expenditure items? Why?
Evet, tercih ederdim, çünkü 5 kolonla anlatacağım bilgiyi tek bileşenle ifade edebiliyorum